<% if @books.blank? %>
<p>Przykro mi, ale nie ma zadnych ksiazek w systemie:(.</p>
<% else %>
<p>W systemie sa nastepujace ksiazki:</p>
<ul id="books">
<% @books.each do |c| %>

<li>
<%= link_to c.title, {:action => "show", :id => c.id} -%>
<b> <%= link_to 'Edytuj',  {:action => "edit", :id => c.id} %></b>
</li>
<% end %>
</ul>
<% end %>
<p><%= link_to "Chce dodac ksiazke!", {:action => 'new' }%></p>
<p><%= link_to "Chce dodac temat!", {:action => 'new', :controller => 'subjects'} %></p>