<!DOCTYPE html>
<html>
<head>
  <title>Kurs Rails: pracownia nr 2</title>
  <%= stylesheet_link_tag :all %>
  <%= javascript_include_tag :defaults %>
  <%= csrf_meta_tag %>
</head>
<body bgcolor="pink">

<%= yield %>

</body>
</html>
